.nav-item .nav-link,
.navbar-nav .nav-item,
.collapse navbar-collapse .nav {
  font-family: "Roboto Flex";
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.6px;
  line-height: 21px;
  text-transform: uppercase;
}
.navbar-part {
  margin-left: 100px;
  justify-content: center;
  padding-left: 40px;
  margin-right: auto;
}

.dropdown-menu .dropdown-item {
  font-family: "Roboto Flex";
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.6px;
  line-height: 21px;
  text-transform: uppercase;
}

.my-input-form {
  appearance: none;

  border-bottom: 1px solid black;
  outline: none;
  background-color: transparent;
  width: 140px;
}

.search-button {
  border: hidden;
  opacity: 3;
  color: black;
  background-color: transparent;

  outline: none;
  appearance: none;
}

.user {
  border: hidden;
  color: black;
  background-color: transparent;
  outline: none;
  appearance: none;
}

.cart {
  border: hidden;
  color: black;
  background-color: transparent;
  outline: none;
  appearance: none;
}
.services-box {
  max-width: 330px;
  padding: 0px 4px 0px;
  margin: 9px 0 0;
}

@media (max-width: 767px) {
  .slider-inside .slider-group > div {
    display: none;


  }
  .navbar-toggler{
    margin-right:0px;
  }
 

  .my-input-form{
    width:360px;
  }
   .slider-group {
    flex: 0 0 0;
  }

  .card .img-wrapper {
    height: 30em;
    
  }
  
  .slider-inside .slider-group > div:first-child {
    display: block;
  }
}

/* màn hình lớn */
@media (min-width: 768px) { 
  .slider-group {
    margin-right: 0px;
    flex: 0 0 calc(100% / 4);
    display: block;
    border:none;
  }
  .slider-inside {
    display: flex;
  }

/* backtotop */
  #scrollToTopBtn {
    display: none; /* Mặc định ẩn nút */
    position: fixed; /* Vị trí cố định */
    bottom: 100px; /* Khoảng cách từ nút đến bottom */
    right: 20px; /* Khoảng cách từ nút đến right */
    width: 40px; /* Chiều rộng của nút */
    height: 40px; /* Chiều cao của nút */
    background-color: #f2f3f5; /* Màu nền của nút */
    color: #292929; /* Màu chữ của nút */
    border: none; /* Không có viền */
    border-radius: 50%; /* Bo góc tròn */
    font-size: 20px; /* Kích thước chữ */
    text-align: center; /* Căn giữa nội dung */
    justify-content: center;
    cursor: pointer; /* Chỉ tay khi di chuột vào */
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  }

.card .img-wrapper {
  max-width: 100%;
  height: 20em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card img {
  /* max-height: 100%; */
  max-width: 100%;
  height: auto;
}
.card {

  border: none;
}
.second-caro-prev,
.second-caro-next {
  border-color: 1px solid black;
  background-color: #e1e1e1;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
}


/* màn hình nhỏ */
@media (max-width: 767px) {
 
 .card-news {
  flex: 0 0 calc(100%/2)
 }
.navbar-items {
padding: 0px;
}
.user{
padding:0px;
}
.cart{
padding-left:4px;
}
.search-button{
  padding-right: 0px;
}
.slider-group:hover .img-wrapper {
  filter: opacity(0.9);
}

.card-footer {
    padding-left: 25px;
    padding-right: 10px;
  }

/* backtotop */
  #scrollToTopBtn {
    display: none; /* Mặc định ẩn nút */
    position: fixed; /* Vị trí cố định */
    bottom: 130px; /* Khoảng cách từ nút đến bottom */
    right: 20px; /* Khoảng cách từ nút đến right */
    width: 40px; /* Chiều rộng của nút */
    height: 40px; /* Chiều cao của nút */
    background-color: #f2f3f5; /* Màu nền của nút */
    color: #292929; /* Màu chữ của nút */
    border: none; /* Không có viền */
    border-radius: 50%; /* Bo góc tròn */
    font-size: 20px; /* Kích thước chữ */
    text-align: center; /* Căn giữa nội dung */
    justify-content: center;
    cursor: pointer; /* Chỉ tay khi di chuột vào */
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  }
.card {
  margin: 0 0.5em;

  border: none;
}
.desc,
.card-title {
  font-size: 16px;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}


}

.breadcrumb {
  background-color: #eeee;
  border: 1px solid #eeee;
  height: 40px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
}
.breadcrumb-item {
  font-size: 13px;
}
.brand-button:focus {
  background-color: white;
  outline: none;
  border: none;
}


.footer-section {
  border-bottom: 1px solid #ccc;
  margin-bottom: 30px;
  width: 1200px;
  border-top: none;
}

.card-title {
    font-size: 16px;
  }